.frp-legend {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.frp-legend h4 {
  margin: 0 0 10px 0;
  text-align: center;
}

.frp-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.frp-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #333;
}

.estado-label {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  pointer-events: none;
  text-align: center;
  font-size: 14px;
}


.bioma-label {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  pointer-events: none;
  text-align: center;
  font-size: 14px;
}

.frp-legend-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.frp-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.frp-legend-item img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.frp-legend-item span {
  font-size: 15px;
}

.frp-legend-item:last-child {
  margin-bottom: 0;
}