.area-queimada-card {
  background-color: #ff6b00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: url("./public/fundo-site.svg") no-repeat right top;
  background-size: contain;
}

.area-queimada-card .card-text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 3px 8px;
  border-radius: 15px;
  margin: 0;
}

.area-queimada-card .card-image img {
  position: absolute;
  top: 40px;
  right: 25px;
  width: 148px;
  height: 128px;
}

.area-queimada-card .select-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.area-queimada-card .select-button img {
  width: 41px;
  height: 41px;
  fill: #ffffff;
}

/* Estilo geral do container */
.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilo do cabeçalho */
.tabs-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.tabs-header button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.tabs-header button.active {
  color: #ff6b00;
  border-bottom: 3px solid #ff6b00;
}

/* Estilo do grid de cards */
.tabs-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Estilo dos cards */
.card {
  background-color: #ff6b00;
  border-radius: 30px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgb(255, 123, 0);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.card .select-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.card .select-button svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .tabs-content {
    grid-template-columns: 1fr;
  }
}